$limegreen : #32CD32; //rgb(50,205,50)
$lawngreen : #7CFC00;	//rgb(124,252,0)
$green :  #38a869; //rgb(56,168,105)
$seagreen	: #2E8B57;	//rgb(46,139,87)

$green1 : #D7FFF1;
$green2 : #8CD790;
$green3 : #77AF9C;
$green4 : #285943;
