$bkg : #279f87;

footer,header{
    background-color: $bkg;
    color: #fafffa;
    text-align: center;
}

.view{
    border:1px solid $bkg;
    width: 800px;
    margin: 20px auto;
    min-height: 200px;    
}
.success{
    color:green;
}